body{
    background-color: #dfe2d2;
}
.navbar-brand {
    color: blue;
    font-weight: 700;
}

.jumbotron {
    margin-top: 100px;
}

.faq {
    margin: 16px;
}

.footer {
    background-color: #e2dcd2;
    padding-top: 16px;
}