* {
    padding: 0;
    margin: 0;
}

/* Navigation Style */
nav {
    background: #F1EFDC;
    margin:auto;
    text-align: center;
    width: 100%;
    font-family: arial;
    height: 11.6vh;
} 

nav ul {
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav ul li{
    float:right;
}

nav ul li:hover{
    background: #7FB77E;
}

nav ul li:hover a{
    color:#fff;
}

nav ul li a{
    display: block;
    padding: 30px;
    color: #000;
    text-decoration: none;
}

/* Our Service Section */

.jumbotron-head1{
    display: flex;
    height: 700px;
    background: #F1F3FF;
}

.jumbotron-head1 div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.jumbotron-head1 div h2{
    align-self: center;
}

.jumbotron-head1 div button{
    margin-top: 100px;
    background: #7FB77E;
    color: #fff;
    border-radius: 5px;
    border-color: #7FB77E;
    align-self: center;
    font-size: 20px;
    width: 200px;
    height: 50px;
}

.jumbotron-head1 div button:hover{
    background: #fff;
    border-color: #fff;
    color: #7FB77E;
}

.jumbotron-head1 img{
    width: 50%;
    align-self: center;
}

/* Why Us Section */
.jumbotron-head2{
    height: 400px;
    background: #F1F3FF;
}

.jumbotron-head2 div{
    margin-left: 30px;
}

.jumbotron-head2 span{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 7%;
    margin-right: 10%;
    gap: 20px;
}

.jumbotron-head2 span div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    gap: 30px;
    height: 170px;
    width: 220px;
    border: 1px solid black;
    border-radius: 15px;
}

.jumbotron-head2 span div h2{
    font-size: 20px;
    font: bolder;
}

.jumbotron-head2 span div p{
    font-size: 13px;
}

/* Testimonial Section */
.jumbotron-head3{
    height: 400px;
    background: #fff;
}

.jumbotron-head3 div{
    text-align: center;
}

.jumbotron-head3 span{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.jumbotron-head3 span div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 150px;
    border: 1px solid black;
    border-radius: 15px;
    background: #F1F3FF;
}

.jumbotron-head3 span div p{
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
}

.jumbotron-head3 span div h6{
    font: bolder;
    margin-left: 10px;
}

.jumbotron-head3 div button{
    margin-top: 10%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0.5px solid gray;
}

.jumbotron-head3 div button:hover{
    background: #7FB77E;
    background-color: #7FB77E;
    border: #fff;
    color: #fff;
}

/* CTA Banner */
.cta{
    height: 300px;
    background: #0D28A6;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 20%;
    border-radius: 13px;
}

.cta div{
    color: #fff;
    text-align: center;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
}

.cta div button{
    margin-top: 5%;
    background: #7FB77E;
    border-radius: 2px;
    border: none;
    width: 160px;
    height: 40px;
    color: white;
}

.cta div button:hover{
    color: black;
}


/* FAQ section */
.jumbotron-head4{
    height: 600px;
}

.jumbotron-head4 > div{
    margin-left: 30px;
    text-align: left;
    width: 40%;
}

.dropdown{
    margin-left: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: relative;
}

.dropdown button{
    padding-left: 10px;
    height: 57px;
    width: 400px;
    text-align: left;
    font-size: 13px;
    border: 0.5px solid blue;
    border-radius: 7px;
    background: #F1F3FF;
}

.dropdown button:hover{
    border-color: blue;
    background: #000;
    color: #7FB77E;
}

/* Footer Section */
.footer{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #F1F3FF;
}

.row div button{
    border: 3px solid #F1F3FF;
    background-color: #F1F3FF;
}

.row div button:hover{
    color: grey;
}

.row div img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.carousel-item{
    min-height: 280px;
}